<button {{action (mut runningCollectionTimer) true}}>Run Both</button>

<TimedCollection @type="findAll" @run={{runningCollectionTimer}} />
<TimedCollection @type="query" @run={{runningCollectionTimer}} />
