{{outlet}}

{{#each model as |issue|}}
  {{issue.title}} - {{issue.property.address.postcode}}<br>
{{/each}}
<br><br>
{{this.model.timeTaken}}<br><br>
{{#link-to "property"}}Properties{{/link-to}} {{#link-to "landlord"}}Landlords{{/link-to}}
