{{#each model as |landlord|}}
  {{landlord.name}}<br>
  {{#each landlord.properties as |property|}}
    {{property.address.postcode}}<br>
  {{/each}}<br>

{{/each}}

{{#link-to "issues"}}Issues{{/link-to}} {{#link-to "property"}}Properties{{/link-to}}
