{{outlet}}

{{#each model as |property|}}
  {{property.address.postcode}} - {{property.landlord.name}}<br>
{{/each}}

{{#link-to "issues"}}Issues{{/link-to}} {{#link-to "landlord"}}Landlords{{/link-to}}
